---
---

@import "{{ site.theme }}";

canvas {
  border: #9999 1px solid;
}

div.wrapper {
  margin: auto;
  width: 50%;
}

header, section, footer {
  float:left;
  position:static;
  width:auto;
}

header {
  padding-right:0px;
}

section {
  border:1px solid #e5e5e5;
  border-width:1px 0;
  padding:0px 0;
  margin:0 0 20px;
}

header a small {
  display:inline;
}

header ul {
  position:absolute;
  right:50px;
  top:52px;
}