---
---

@import "{{ site.theme }}";

canvas[resize] {
  border: #9999 1px solid;
  width: 100%;
}

div.wrapper {
  margin: auto;
  width: 512px;
}

header, section, footer {
  float:left;
  position:static;
  width:auto;
}

header {
  padding-right:0px;
}

section {
  border:1px solid #e5e5e5;
  border-width:1px 0;
  padding:0px 0;
  margin:0 0 0px;
}

header a small {
  display:inline;
}

header ul {
  position:absolute;
  right:5px;
  top:52px;
}

@media print, screen and (max-width: 645px) {
  div.wrapper {
    width:auto;
    margin:0;
  }
}