<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ site.github.repository_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <!--<p>{{ site.description | default: site.github.project_tagline }}</p>-->
      </header>

      <section>

      {% if site.github.is_project_page %}
      <!-- Load the paper.js library and Bang.js (which creates the canvas)... -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.0/paper-core.min.js"></script>
      <script type="text/javascript" src="Bang.js"></script>
      <div class="ProjectControls">
          <b>Brush Width: </b> <input type="range" min="1" max="100" value="10" class="slider" id="brushWidth"> |
          <a href="#" onclick="drawingEnvironment.prevFrame();"><b> Prev </b></a>|
          <a href="#" onclick="drawingEnvironment.nextFrame();"><b> Next </b></a>|
          <a href="#" onclick="drawingEnvironment.duplicateFrame();"><b> Duplicate </b></a>
      </div>
      <div class="ExportControls">
          <a href="#" onclick="drawingEnvironment.saveSVG();"><b>Save to SVG </b></a>| 
          <b> Load from SVG: <input id="svg-file" type="file" accept="image/svg+xml"/>
      </div>
      <hr>
      {% endif %}

      {{ content }}

      </section>

      <footer>
        {% if site.github.is_project_page %}
        <p>This page is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>